<p>
  home works!
</p>

<div id="Connection" *ngIf="!joueur.isConnected">
  <form #f="ngForm" (ngSubmit)="connexion(f)" >
    <label>Selectionner votre avatar :</label>
    <select #avatar name="avatar"  [(ngModel)]="newAvatar">
      <option *ngFor="let av of avatars">{{av.code}}</option>
    </select>
    <label>Selectionner votre pseudo :</label>
    <input #pseudo name="pseudo" type="text" [(ngModel)]="newPseudo">
    <button>Valider</button>
  </form>
</div>

<div id="ListeDesParties" *ngIf="joueur.isConnected" >

Liste des parties !

  <br>

  <div *ngFor="let game of listepartie">{{game.name}} {{game.id}} <br> <button>Rejoindre</button> <hr> </div>

  <form #f="ngForm" (ngSubmit)="createGame(f)">
    <label>Selectionner le nom de la partie :</label>
    <input #name name="name" type="text" [(ngModel)]="gameName">
    <button>Valider</button>
  </form>

</div>
